body{
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    font-family: "Arial";
}

.app-wrapper{
    min-height: 100vh;
}

.footer{
    position: relative;
    background-color: black;
    height: 10em;
    width: 100%;
}

h1{
    text-align: center;
}

.navbar{
    background-color: black;
    height: 2em;
    width: 100%;
}

.navbar-btn{
    font-family: "Arial Black";
    color: aliceblue;
    float: right;
    padding-right: 1em;
    padding-top: 0.2em;
    text-decoration: none;
    transition: 1s;
}

.navbar-btn:hover{
    color: #b4b4b4;
    transition: 1s;
}

.logo-container{
    padding: 0.2em;
    padding: 0 5px 0 5px;
    
}

.logo-container img{
    height: 30px;
    width: 30px;
}

.image-container{
    width: 100%;
    height: auto;
    
}
.image-container img{
    display: block;
    margin: auto;    
}

.content-container{
    margin: 0 auto;
    width: 80%;
}

.enity img{
    width: 40%;
    height: 40%;
}
.bc-container{
    width: 50%;
    height: auto;
    float: left;
}
.bc-container img{
    display: block;
    margin: auto;
    max-width: 90%;
    margin-bottom: 3em;
}
.inline{
    margin: 0 auto;
    margin-top: 5em; 
}

.door img{
    width: 80%;
    height:80%;
}

.banner-container{
    width: 100%;
    height: auto;
    margin-top: 5em;
}

.banner-container img{
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
}

.sketch-container{
    width: 50%;
    height: auto;
    float: left;
    margin-bottom: 3em;
}
.sketch-container img{
    display: block;
    margin: auto;
    margin-bottom: 3em;
    max-width: 90%;
}

.description{
    text-align: center;
    font-weight: bold;
    margin-top: 4em;
}

/*.copyright{
    display: hidden;
    position: absolute;
    left: 42%;
    text-align: center;
    font-size: 1em;
    font-family: Verdana;
}


.copyright-container{
    margin-top: 3em;
    position: relative;
}
*/
.logo-cont{
    margin-bottom: 4em;
}

.bc-cont{
    margin-bottom: 4em;
}

.ps-project{
    width: 100%;
    height: auto;
}

.ps-project img{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}

ps-cont{
    width: 100%;
    height: auto;
}