body{
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    font-family: "Arial";
}
h1{
    text-align: center;
}
.navbar{
    background-color: black;
    height: 2em;
    width: 100%;
}

.navbar-btn{
    font-family: "Arial Black";
    color: aliceblue;
    float: right;
    padding-right: 1em;
    padding-top: 0.2em;
    text-decoration: none;
    transition: 1s;
}

.navbar-btn:hover{
    color: #b4b4b4;
    transition: 1s;
}

.logo-container{
    padding: 0.2em;
    padding: 0 5px 0 5px;
    
}

.logo-container img{
    height: 30px;
    width: 30px;
}

.image-container{
    width: 100%;
    height: auto;
    margin-top: 5em;
}
.image-container img{
    display: block;
    margin: auto;    
}

.content-container{
    margin: 0 auto;
    width: 80%;
}

.enity img{
    width: 50%;
    height: 50%;
}
.bc-container{
    width: 50%;
    height: auto;
    float: left;
}
.bc-container img{
    display: block;
    margin: auto;
    max-width: 90%;
}
.inline{
    margin: 0 auto;
    margin-top: 5em; 
}

.door img{
    width: 80%;
    height:80%;
}

.banner-container{
    width: 100%;
    height: auto;
    margin-top: 5em;
}

.banner-container img{
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
}

.sketch-container{
    width: 50%;
    height: auto;
    float: left;
    margin-bottom: 5em;
}
.sketch-container img{
    display: block;
    margin: auto;
    margin-bottom: 5em;
    max-width: 90%;
}